@page "/loader"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

@inject IJSRuntime JSRuntime;
@inject HttpClient Http


<h1>File Loader</h1>

<input type="file" id="file" /><button class="btn btn-primary" @onclick=ReadFile>Read file</button>

@if(isLoaded)
{
    <FileDataDisplay Data="@fileData"/>
}
